<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Ceasul Bun</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Permisiunile pentru Apple Music vor fi folosite doar pentru a putea asculta conținut audio în timp ce folosești aplicația.</string>
	<key>NSCameraUsageDescription</key>
	<string>Permisiunile pentru camera foto vor fi folosite doar pentru ca tu să poți încărca dovezile necesare.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Permisiunile pentru locație vor fi folosite doar pentru identifica în care centru sau spital te afli.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Permisiunile pentru locație vor fi folosite doar pentru identifica în care centru sau spital te afli.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Permisiunile pentru locație vor fi folosite doar pentru identifica în care centru sau spital te afli.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Permisiunile pentru microfon vor fi folosite doar pentru a putea dicta în cazul în care nu poți tasta.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Permisiunile pentru galeria foto vor fi folosite doar pentru ca tu să poți încărca dovezile necesare.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Permisiunile pentru recunoașterea vorbirii vor fi folosite doar pentru a putea dicta în cazul în care nu poți tasta.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-BlackItalic.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-BoldItalic.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-ExtraBoldItalic.ttf</string>
		<string>Montserrat-ExtraLight.ttf</string>
		<string>Montserrat-ExtraLightItalic.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-LightItalic.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-MediumItalic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-SemiBoldItalic.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>Montserrat-ThinItalic.ttf</string>
		<string>EncodeSans-Black.ttf</string>
		<string>EncodeSans-Bold.ttf</string>
		<string>EncodeSans-ExtraBold.ttf</string>
		<string>EncodeSans-ExtraLight.ttf</string>
		<string>EncodeSans-Light.ttf</string>
		<string>EncodeSans-Medium.ttf</string>
		<string>EncodeSans-Regular.ttf</string>
		<string>EncodeSans-SemiBold.ttf</string>
		<string>EncodeSans-Thin.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
